#clear-logs(
	)

#delete-wrapper{

}

#p1-nameInput, #p2-nameInput{
	display: inline;
	font-size: 14px;
	line-height: 1.42;
	height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.player1-panel{
	
}

.jumbotron{
	text-align: center;
	padding:15px 30px;
}

#messagesDiv{
	overflow: scroll;
	height: 120px;
}


#messageText{
	overflow: scroll;
	min-width: 80%;
	margin: 5px 10%;
}

#waitingPlayer1{

}

#waitingPlayer2{
	
}